.button{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0365F2;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}